@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner-border {
    border-top-color: transparent;
    border-right-color: #3b82f6; /* Blue color */
    border-bottom-color: #3b82f6;
    border-left-color: #3b82f6;
  }
}